
<div class="container">

  <div class="row">
    <h2 id="title-index" class="p-4">Our Dinosaurs</h2>

    <% @dinosaurs.each do |dinosaur| %>
      <div class="card-deck col-12 col-sm-6 col-md-4 mb-3 my-1">
        <img class= "card-img-small" src="<%= (dinosaur.photo.attached? ? cl_image_path(dinosaur.photo.key) : asset_path("default_dino.jpeg"))%>">
              <%# <img class= "card-img" src="https://images.dinosaurpictures.org/090714-nothronychus-02_8e4b.jpg"> %>
            <div class="card-body mb-2 p-3">
              <div class="card-text">
                  <h4><strong><%=link_to dinosaur.name, dinosaur_path(dinosaur), class:"text-decoration-none"%></strong></h4>
                  <p><strong>Age: </strong><%= dinosaur.age %></p>
                  <p><strong>About: </strong><%=dinosaur.description %></p>
                  <p><strong>Owner: </strong><%=dinosaur.user.email %></p>
                  <% total_ratings = [] %>
                    <% dinosaur.reviews.map do |review| %>
                      <% total_ratings << review.rating %>
                    <% end %>
                    <% if total_ratings.count != 0  %>
                      <% avg_rating = total_ratings.sum / total_ratings.count %>
                      <p><strong>Average Rating: </strong><%= avg_rating %></p>
                    <% else %>
                      <p><strong>Average Rating: </strong>0</p>
                    <% end %>
              </div>
            </div>
      </div>
    <% end %>

  </div>

</div>
