<div class="container">
  <li class="btn btn-back"><i class="fa-solid fa-backward"></i><%= link_to " Back to Dinos", dinosaurs_path %></li>
  <div class="row m-5">
    <div class="container-show col-sm-6">
      <div id="photo">
        <img class= "card-img-big" src="<%= (@dinosaur.photo.attached? ? cl_image_path(@dinosaur.photo.key) : asset_path("default_dino.jpeg")) %>">
        <p id="user">Dino belongs to: <%=@dinosaur.user.email %></p>
          <%= link_to "Leave a review", new_dinosaur_review_path(@dinosaur), class: "btn btn-review" %>
      </div>
    </div>

    <div class="container-show col-sm-6">
      <div id="details-row">
          <p><strong>Name: </strong><%= @dinosaur.name %></p>
          <p><strong> Age: </strong><%= @dinosaur.age %></p>
          <p><strong>Description: </strong><%= @dinosaur.description %></p>
          <% if @avg_rating > 0 %>
          <p><strong>Average Rating: </strong><%= @avg_rating %></p>
          <% else %>
          <p><strong>Average Rating: </strong>No reviews</p>
          <% end %>
          <%= render "bookings/form", dinosaur: @dinosaur, booking: @booking %>
          <br>
      </div>

    </div>

<div id="details" class="row">
        <div class="col-sm-12 mx-1">
          <h3><%= pluralize @dinosaur.reviews.size, "review" %></h3>
            <% if @dinosaur.reviews.blank? %>
              <p>Be the first to leave a review for <%= @dinosaur.name %></p>
            <% else %>
              <% @dinosaur.reviews.reverse.each do |review| %>
                <p><strong>Rating: </strong><%= review.rating  %></p>
                <p> <%= review.content %></p>
              <% end  %>
            <% end %>
        </div>
      </div>
  </div>

</div>
