<div class="container">
  <div class="row m-5">
    <div class="container-show col-sm-6">
      <div id="photo">
        <img class= "card-img-big" src="<%= (@dinosaur.photo.attached? ? cl_image_path(@dinosaur.photo.key) : asset_path("default_dino.jpeg")) %>">
        <p id="user">Dino belongs to: <%=@dinosaur.user.email %></p>
      </div>
    </div>

    <div class="container-show col-sm-6">
      <div id="details-row">
        <p><strong>Name: </strong><%= @dinosaur.name %></p>
        <p><strong> Age: </strong><%= @dinosaur.age %></p>
        <p><strong>Description: </strong><%= @dinosaur.description %></p>
        <%= render "bookings/form", dinosaur: @dinosaur, booking: @booking %>
      </div>
    </div>

  </div>
</div>
