<div class="container">
  <h1><%= @dinosaur.name %></h1>
</div>

<div class="container">
  <ul>
    <li><%= @dinosaur.description %></li>
    <li><%= @dinosaur.age %></li>
  </ul>
</div>

<div class="container">
  <%= render "bookings/form", dinosaur: @dinosaur, booking: @booking %>
</div>

<div class="container">
  <p><%= link_to "Back to dinos", dinosaurs_path %>
  <p><%= link_to "Delete this dinosaur", dinosaur_path(@dinosaur),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
</div>
