<div class="container">

  <div id="header" class="row">
    <div class="col-sm-12">
      <div class="title">
        <h1><%= @dinosaur.name %></h1>
      </div>

    </div>
  </div>

  <div>
    <div id="top" class="row">
      <div id="photo" class="col-sm-8">
      <img src= "https://media.wired.com/photos/5f0f3091344cff748529ad9c/4:3/w_1800,h_1350,c_limit/how-to-escape-dinosaurs-elena-lacey.jpg"  alt="Dinosaur" width="900" height="400">
      </div>
      <div id="form" class="col-sm-4">
        <%= render "bookings/form", dinosaur: @dinosaur, booking: @booking %>
      </div>
    </div>
  </div>

  <div id="details" class="row">
    <div class="col-sm-12">
        <ul>
          <li><strong>Name: </strong><%= @dinosaur.name %></li>
          <li><strong> Age: </strong><%= @dinosaur.age %></li>
          <li><strong>Description: </strong><%= @dinosaur.description %></li>
        </ul>
    </div>
  </div>

  <div id="links" class="row">
    <div class="col-sm-12">
    <ul>
      <li class="btn btn-delete"><i class="fa-solid fa-backward"></i><%= link_to " Back to Dinos", dinosaurs_path %></li>
      <li class="btn btn-delete"><i class="fas fa-trash"></i><%= link_to " Delete this dinosaur", dinosaur_path(@dinosaur),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
    </ul>
    </div>
  </div>

</div>
