<div class="container">
  <h2 class="p-4">Your Dinosaurs</h2>

  <div class="row" id="row-dashboard">

      <% @dinosaurs.each do |dinosaur| %>
      <div class="card-deck col-12 col-sm-6 col-md-4 mb-3 my-1">
        <img class= "card-img" src="<%= (dinosaur.photo.attached? ? cl_image_path(dinosaur.photo.key) : asset_path("default_dino.jpeg")) %>">
            <div class="card-body mb-2 p-3">
                <div class="card-text">
                  <p><strong><%=link_to dinosaur.name, dinosaur_path(dinosaur), class:"text-decoration-none"%></strong></p>
                  <p><strong>Age:</strong> <%= dinosaur.age %> </p>
                  <p><strong>About:</strong> <%=dinosaur.description %> </p>
                </div>
            </div>
      </div>
    <% end %>


  </div> <!-- row -->


  <p class="pt-4"><%= link_to "Back to dinos", dinosaurs_path, class: "btn btn-success" %></p>
</div>
